<footer class="layout-rodape">
  <div class="container">
    <ul class="list-social">
      <li><i class="fa fa-instagram"><strong> @livrariacafebrascubas</strong></i></li>
      <li><i class="fa fa-facebook-f"><strong> Livraria Café e Sebo Brás Cubas</strong></i></li>
      <li><i class="fa fa-at"><strong> sebobrascubas@sebobrascubas.com.br</strong></i></li>
      <li><i class="fa fa-whatsapp"><strong> (67) 9.9908-2445</strong></i></li>
  </ul>

    <p>&copy; Sebo Brás Cubas. Todos os direitos reservados.</p>
    <p>Desenvolvido por Túlio Galvão</p>
  </div>
</footer>
