<div class="container">
<p-carousel [value]="books" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="5000" [responsiveOptions]="responsiveOptions">
  <ng-template let-book pTemplate="item">
      <div class="book-details">
          <div class="p-grid p-nogutter">
              <div class="p-col-1">
                  <img width="1000" height="500" src="assets/img/{{book.brand}}.png" />
              </div>
              <!--div class="p-col-12 book-data">
                  <div class="book-title">{{book.brand}}</div>
                  <div class="book-subtitle">{{book.year}} | {{book.color}}</div>

                  <div class="book-buttons">
                      <button pButton type="button" class="ui-button-secondary" icon="pi pi-search"></button>
                      <button pButton type="button" class="ui-button-secondary" icon="pi pi-star"></button>
                      <button pButton type="button" class="ui-button-secondary" icon="pi pi-cog"></button>
                  </div>
              </div -->
          </div>
      </div>
  </ng-template>
</p-carousel>
</div>
