<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <!--div class="ui-g-6">
        <a href="javascript:;" class="navbar-toggle" (click)="exibirMenu = !exibirMenu" ><i class="pi pi-bars" style="font-size: 2em;"></i></a>
      </div -->
      <div class="ui-g-12">
        <img src="/assets/img/sebo-logo.jpeg" class="navbar-img" alt="Sebo Brás Cubas" />
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibirMenu">
    <li class="navbar-sebo">Sebo Brás Cubas</li>
    <li class="navbar-menuitem"><a href="#">Contato</a></li>
  </ul>
</nav>
